# Sequence types: Tuples, Lists, and Strings

In [1]:
x=2

In [2]:
y=3

In [3]:
x+y

5

In [4]:
tu=(23,'abc',4.56,(2,3),'def')

In [5]:
tu[1]

'abc'

In [6]:
tu[0]

23

In [7]:
tu[0:3]

(23, 'abc', 4.56)

In [8]:
tu[::3]

(23, (2, 3))

In [9]:
tu[1] = 3

TypeError: 'tuple' object does not support item assignment

In [10]:
li=['abc',34,4.34,23]

In [11]:
li[1]

34

In [12]:
li[0]

'abc'

In [13]:
li[::]

['abc', 34, 4.34, 23]

In [14]:
li[0:-1]

['abc', 34, 4.34]

In [15]:
li[0] = 'Hello'

In [16]:
li

['Hello', 34, 4.34, 23]

In [17]:
st="Hello World"

In [18]:
st

'Hello World'

In [19]:
st='Hello World'

In [20]:
st

'Hello World'

In [21]:
st="""This is a multi-line string that uses triple quotes"""

In [22]:
st

'This is a multi-line string that uses triple quotes'

# Copying the Whole Sequence

In [23]:
t[:]

NameError: name 't' is not defined

In [24]:
t=(23,'abc',4.56,(2,3),'def')

In [25]:
t[:2]

(23, 'abc')

In [26]:
t[2:]

(4.56, (2, 3), 'def')

In [27]:
t[:]

(23, 'abc', 4.56, (2, 3), 'def')

In [28]:
list2=list1

NameError: name 'list1' is not defined

In [29]:
list1 = (3,5,'abc',4.21,(2,3))

In [30]:
list2 = list1

In [31]:
list1

(3, 5, 'abc', 4.21, (2, 3))

In [32]:
list2

(3, 5, 'abc', 4.21, (2, 3))

In [33]:
list1[0] = 13

TypeError: 'tuple' object does not support item assignment

In [34]:
list1 = [3,5,'abc',4.21,(2,3)]

In [35]:
list2 = list1

In [36]:
list1

[3, 5, 'abc', 4.21, (2, 3)]

In [37]:
list2

[3, 5, 'abc', 4.21, (2, 3)]

In [38]:
list1[0] = 13

In [39]:
list2[0]

13

In [40]:
list2

[13, 5, 'abc', 4.21, (2, 3)]

In [41]:
list2 = list1[:]

In [42]:
list2[1] = 777

In [43]:
list1

[13, 5, 'abc', 4.21, (2, 3)]

In [44]:
list2

[13, 777, 'abc', 4.21, (2, 3)]

# The ‘in’ Operator

In [45]:
t=[1,2,4,5]

In [46]:
3 in t

False

In [47]:
4 in t

True

In [48]:
4 not in t

False

In [49]:
a='abcde'

In [50]:
'c' in a

True

In [51]:
'cd' in a

True

In [52]:
'ad' in a

False

# The + Operator

In [53]:
(1,2,3) + (4,5,6)

(1, 2, 3, 4, 5, 6)

In [54]:
[1,2,3] +  [4,5,6]

[1, 2, 3, 4, 5, 6]

In [55]:
"Hello" + " " + "World!"

'Hello World!'