# Mutability: Tuples vs. Lists
## Lists: Mutable

In [1]:
li = ['abc',50,4.234,405,"Hello"]

In [2]:
li[1] = 4502

In [3]:
li

['abc', 4502, 4.234, 405, 'Hello']

In [4]:
li[0] = 'Korea'

In [5]:
li

['Korea', 4502, 4.234, 405, 'Hello']

# Tuples: Immutable

In [6]:
t = (23,'abc',4.52132,(2,5,4),'Hello')

In [7]:
t[2] = 3.14

TypeError: 'tuple' object does not support item assignment

In [8]:
t=(23,'abc',4.52132,(2,5,4),'Hello')

# Operations on Lists Only 1 
## append는 가장뒤에 추가하는것 같다.
## insert(특정위치, 넣고싶은 것) = 특정위치 다음에 넣는다

In [9]:
li = [12,53,48594,'Hello',5]

In [10]:
li.append('a')

In [11]:
li

[12, 53, 48594, 'Hello', 5, 'a']

In [12]:
li.insert(2,'i')

In [13]:
li

[12, 53, 'i', 48594, 'Hello', 5, 'a']

# The extend method vs the + operator.

In [14]:
li.extend([9,8,7])

In [15]:
li

[12, 53, 'i', 48594, 'Hello', 5, 'a', 9, 8, 7]

In [16]:
li.extend([20,16,544,213])

In [17]:
li

[12, 53, 'i', 48594, 'Hello', 5, 'a', 9, 8, 7, 20, 16, 544, 213]

In [18]:
li.append([20,16,213])

In [19]:
li

[12, 53, 'i', 48594, 'Hello', 5, 'a', 9, 8, 7, 20, 16, 544, 213, [20, 16, 213]]

# Operations on Lists Only 3

In [20]:
li = ['a','b','c','b']

In [21]:
li.index('b')

1

In [22]:
li.count('b')

2

In [23]:
li.remove('b')

In [24]:
li

['a', 'c', 'b']

In [25]:
li = ['Korea','japan','mexico','Korean']

In [26]:
li.index('japan')

1

In [27]:
li.index('Korean')

3

In [28]:
li.count('Korea')

1

In [29]:
li.remove('japan')

In [30]:
li

['Korea', 'mexico', 'Korean']

# Operations on Lists Only 4

In [31]:
li = [5,2,6,8,1513213512315315,79]

In [32]:
li[4] = 0

In [33]:
li.reverse()

In [34]:
li

[79, 0, 8, 6, 2, 5]

In [35]:
li.sort()

In [36]:
li

[0, 2, 5, 6, 8, 79]

In [37]:
li.sort(some_function)

NameError: name 'some_function' is not defined

In [38]:
li.sort(Some_Function)

NameError: name 'Some_Function' is not defined

# Tuples vs. Lists

In [39]:
li = list(tu)

NameError: name 'tu' is not defined

In [40]:
list(tu)

NameError: name 'tu' is not defined

In [41]:
tu = (25,1612,50,203)

In [42]:
list(tu)

[25, 1612, 50, 203]

In [43]:
li = list(tu)

In [44]:
tu = tuple(li)

In [45]:
tu

(25, 1612, 50, 203)

In [46]:
li

[25, 1612, 50, 203]